<div>
    <div class="process">
        <ul>
            <li class="active"><i>1</i><br><span>投保人信息</span></li>
            <li><i>2</i><br><span>方案确认</span></li>
            <li><i>3</i><br><span>被保人信息</span></li>
            <li><i>4</i><br><span>信息确认</span></li>
        </ul>
        <div class="process-line">
            <span></span>
        </div>
    </div>
    <h3><i></i>公司信息</h3>
    <div class="company-info">
        <div class="company-info-left">
            <ul>
                <li><span>投保人类型：</span>法人客户</li>
                <li><span>单位名称：</span>某某公司</li>
                <li><span>证件类型：</span>营业执照</li>
                <li><span>证件号码：</span>12345678901096846320</li>
                <li><span>单位所在地：</span>北京昌平</li>
                <li><span><i>*</i>详细地址：</span><input type="text"></li>
                <li><span>邮政编码：</span><input type="text"></li>
            </ul>
        </div>
        <div class="company-info-right">
            <ul>
                <li><i>*</i>员工总数：<input type="text"></li>
                <li>
                    <i>*</i>纳税人类型：
                    <select name="" id="">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                </li>
                <li>
                    <i>*</i>单位性质：
                    <select name="" id="">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                </li>
                <li>
                    <i>*</i>行业类别：
                    <select name="" id="">
                        <option value="1">1</option>
                        <option value="2">医生</option>
                        <option value="3">3</option>
                    </select>
                </li>
            </ul>
        </div>
    </div>
    <h3><i></i>经办人信息</h3>
    <div class="agent-info">
        <ul>
            <li><span>经办人姓名：</span>我是小王</li>
            <li><span>身份证号码：</span>12345678901096846320</li>
            <li><span>联系电话：</span>15019876756</li>
        </ul>
    </div>
    <div class="next-page">
        <a class="active" ng-click="nextPage()" href="javascript:void(0)">下一步</a>
    </div>
</div>