<div>
    <div class="process">
        <ul>
            <li class="checked"><i>&nbsp;</i><br><span>投保人信息</span></li>
            <li class="active"><i>2</i><br><span>方案确认</span></li>
            <li><i>3</i><br><span>被保人信息</span></li>
            <li><i>4</i><br><span>信息确认</span></li>
        </ul>
        <div class="process-line">
            <span class="step-two"></span>
        </div>
    </div>
    <h3><i></i>财运宝A投保方案<a ng-click="changeScheme()" class="change-plan" href="javascript:void(0)">修改方案</a></h3>
    <div class="insurance-scheme">
        <table>
            <colgroup>
                <col style="width:15%">
                <col style="width:30%">
                <col style="width:15%">
                <col>
            </colgroup>
            <tbody>
                <tr>
                    <th class="color3">套餐</th>
                    <th class="color3">产品名称</th>
                    <th class="color3">保障金额（元）</th>
                    <th class="color3">
                        <p class="tit">普通计划</p>
                        <p class="content">参保人员限制：1-3类职业类别平均年龄40岁，性别为男</p>
                    </th>
                </tr>
                <tr>
                    <td rowspan="3" class="bold">基本套餐</td>
                    <td class="left">泰康团体意外伤害保险</td>
                    <td class="color-red">60000</td>
                    <td rowspan="3">3份</td>
                </tr>
                <tr>
                    <td class="left">泰康附加意外伤害团体医疗保险</td>
                    <td class="color-red">800</td>
                </tr>
                <tr>
                    <td class="left">泰康附加意外住院津贴团体收入保障保险</td>
                    <td class="color-red">20/天</td>
                </tr>
                <tr>
                    <td class="bold">可选套餐B</td>
                    <td class="left">泰康团体重大疾病保险</td>
                    <td class="color-red">50000</td>
                    <td>2份</td>
                </tr>
                <tr>
                    <td rowspan="7" class="bold">可选套餐C</td>
                    <td class="left">飞机</td>
                    <td class="color-red">300000</td>
                    <td rowspan="7">2份</td>
                </tr>
                <tr>
                    <td class="left">轮船</td>
                    <td class="color-red">100000</td>
                </tr>
                <tr>
                    <td class="left">轨道交通</td>
                    <td class="color-red">100000</td>
                </tr>
                <tr>
                    <td class="left">长途公共汽车</td>
                    <td class="color-red">50000</td>
                </tr>
                <tr>
                    <td class="left">市内公交汽车及电车</td>
                    <td class="color-red">50000</td>
                </tr>
                <tr>
                    <td class="left">出租车</td>
                    <td class="color-red">50000</td>
                </tr>
                <tr>
                    <td class="left">出租车</td>
                    <td class="color-red">50000</td>
                </tr>
                <tr>
                    <td class="bold">可选套餐E</td>
                    <td class="left">泰康住院津贴团体医疗保险</td>
                    <td class="color-red">50/天</td>
                    <td>3份</td>
                </tr>
                <tr>
                    <td class="bold">可选套餐F</td>
                    <td class="left">泰康附加意外伤害团体医疗保险</td>
                    <td class="color-red">800</td>
                    <td>3份</td>
                </tr>
            </tbody>
        </table>
    </div>
    <h3><i></i>保障期限</h3>
    <div class="guarantee-period">
        保障期限：<span>一年期</span>
    </div>
    <h3><i></i>服务经理信息</h3>
    <div class="manager-info scheme-confirmation">
        <div class="employee-box">
            <table class="border">
                <colgroup>
                    <col style="width:33.3%">
                    <col style="width:33.3%">
                    <col>
                </colgroup>
                <tbody>
                    <tr>
                        <th>编号</th>
                        <th>姓名</th>
                        <th>电话</th>
                    </tr>
                    <tr>
                        <td>TK00019518</td>
                        <td>童菲</td>
                        <td>18812345678</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="next-page">
        <a ng-click="prePage()" class="prepage-button" href="javascript:void(0)">上一步</a>
        <a class="confirm-button active" ng-click="nextPage()" href="javascript:void(0)">下一步</a>
    </div>
</div>